.container {
   
}

.message-choice {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid #CE5937;
    position: relative;
    left: calc(50% - 870px);
    top: 50px;
}

.message-choice-panel {
    width: 40%;
    border: 1px solid #CE5937;
    min-height: 500px;
    
}

.message-choice-panel > p {
    font-size: 20px;
    background-color: rgb(187, 187, 187);
}

.message-choice-panel li {
    border: 1px solid #CE5937;
}

.message-choice-panel li:hover {
    background-color: rgb(75, 71, 71);
    cursor: pointer;
}

.text-message-panel {
    width: 100%;
}

.text-message-panel > p {
    font-size: 20px;
    background-color: rgb(187, 187, 187);
    transform: translate(0, 1px);
}

